<div class="container-fluid">
</div>
<div class="row justify-content-md-center">
    <div class="questionContent">
        <h2>
            DƯỚI DÂY LÀ TẤM SÉC DÀNH CHO BẠN
        </h2>
        <hr>
        <img style="display:none" src="./assets/images/sec.png" crossorigin="anonymous" />

        <canvas id="canvas"></canvas>

        <hr>

        <button type="button" class="btn btn-primary btn-lg" onClick="location.reload();">TRỞ LẠI</button>


    </div>

    <div class="optionContent">
        <div class="row row-cols-2">

        </div>
    </div>


    <script>
        $('.modal-backdrop.fade.show').remove();
         var canvas = document.getElementById('canvas'),
            ctx = canvas.getContext('2d');
        setTimeout(function () {
            canvas.width = $('img').width();
            canvas.height = $('img').height();
            ctx.drawImage($('img').get(0), 0, 0);
            ctx.font = "20pt Tahoma";
            //redraw image
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage($('img').get(0), 0, 0);
            //refill text
            ctx.fillStyle = "black";
            ctx.fillText(numberFormat(player.lastBonus), (canvas.width / 2) - 100, (canvas.height / 2) + 73);
        }, 100);
    </script>
</div>
</div>